@using Domain;
@model Report;
@using System.Security.Claims
@{
    var claims = Context.Request.HttpContext.User.Claims;
    var munId = int.Parse(claims.Where(c => c.Type == ClaimTypes.StateOrProvince).First().Value);
    var locId = int.Parse(claims.Where(c => c.Type == ClaimTypes.Locality).First().Value);
    var isAdmin = bool.Parse(Context.Request.HttpContext.User.FindFirst("IsAdmin").Value);
    var role = claims.Where(c => c.Type == ClaimTypes.Role).First().Value.ToString();
}

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Отчёт о выполненной работе по планам-графикам</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
            <li class="breadcrumb-item">Отчёт</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Отчёт о выполненной работе по планам-графикам</div>
            </div>
            <div class="ibox-body">
                <form class="form-horizontal" method="post">

                    @if (!(Model.statuc == "Доработка" && role == "Оператор ОМСУ"))
                    {
                        <div class="form-group row">
                            <label for="status" class="col-sm-2 col-form-label">Статус:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="status" type="text" name="status" value=@Model.statuc required />
                            </div>
                        </div>
                    }

                    @if (Model.statuc == "Доработка" && role == "Оператор ОМСУ")
                    {
                        <div class="form-group row">
                            <label for="namemun_ex" class="col-sm-2 col-form-label">Контракт:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="namemun_ex" name="contract">
                                    @foreach (var con in (IEnumerable<Contract>)ViewData["cons"])
                                    {
                                        if (Model.startdate == con.dateconclusion && Model.enddate == con.validityperiod)
                                        {
                                            <option selected value="@con.id"><span>@con.Municipality.name</span> | <span>@con.dateconclusion.ToString("dd.MM.yyyy")</span> | <span>@con.validityperiod.ToString("dd.MM.yyyy")</span></option>
                                        }
                                        else
                                        {
                                            <option value="@con.id"><span>@con.Municipality.name</span> | <span>@con.dateconclusion.ToString("dd.MM.yyyy")</span> | <span>@con.validityperiod.ToString("dd.MM.yyyy")</span></option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="locality" class="col-sm-2 col-form-label">Населенный пункт:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="locality" name="locality">
                                    @foreach (var loc in (IEnumerable<Locality>)ViewData["locs"])
                                    {
                                        if (Model.localityname == loc.name)
                                        {
                                            <option selected value="@loc.id">@loc.name</option>
                                        }
                                        else
                                        {
                                            <option value="@loc.id">@loc.name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    }

                    <input type="hidden" name="_method" value="PUT">
                    <div class="col-sm-10 ml-sm-auto">
                        <button type="submit" class="btn btn-info">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
