@using Domain;
@model Dictionary<int, int>;

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Отчёт о выполненной работе по планам-графикам</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="/report/schedule">Отчёт</a>
            </li>
            <li class="breadcrumb-item">
                Результаты отчета
            </li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Результаты отчёта</div>
            </div>
            <div class="ibox-body">
                <div id="example-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="col-sm-12">
                                <p>Отчет о выполненной работе по планам-графикам с <i>@DateTime.Parse(ViewData["startdate"].ToString()).ToString("D")</i> по <i>@DateTime.Parse(ViewData["enddate"].ToString()).ToString("D")</i> по населенному пункту: @ViewData["locname"]</p>
                            </div>

                            <table class="table table-striped table-bordered table-hover dataTable" id="example-table" cellspacing="0" width="100%" role="grid" aria-describedby="example-table_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">Плановое количество отловленных животных</th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">Фактические количество отловленных животных</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var pair in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@pair.Key</td>
                                            <td>@pair.Value</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <a class="btn btn-info" style="margin-bottom: 15px; margin-left: 15px;"  href="/report/schedule/export/@DateTime.Parse(ViewData["startdate"].ToString()).ToString("yyyy-MM-dd")/@DateTime.Parse(ViewData["enddate"].ToString()).ToString("yyyy-MM-dd")/@ViewData["munid"]/@ViewData["locid"]/@Model.Keys.First()/@Model[Model.Keys.First()]">
                <span class="nav-label">Экспорт в Excel</span>
            </a>

        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

