@using Domain;
@using System.Security.Claims
@model IEnumerable<Municipality>;
@{
    var claims = Context.Request.HttpContext.User.Claims;
    var munId = int.Parse(claims.Where(c => c.Type == ClaimTypes.StateOrProvince).First().Value);
    var isAdmin = bool.Parse(Context.Request.HttpContext.User.FindFirst("IsAdmin").Value);
}

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Добавить контракт</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="/contract/">Контракты</a>
            </li>
            <li class="breadcrumb-item">Добавить контракт</li>
        </ol>
    </div>
    @if (ViewData["err"] != null)
    {
        <div class="alert alert-danger alert-dismissable fade show">
            <button class="close" data-dismiss="alert" aria-label="Close">×</button>
            <strong>Ошибка!</strong> @ViewData["err"]
        </div>
    }
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Новый контракт</div>
            </div>
            <div class="ibox-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="munname">Муниципалитет:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="munname" name="municipality" @if (!isAdmin) Write("disabled"); required>
                            @if (!isAdmin)
                            {
                                @foreach (var mun in Model)
                                {
                                    if (mun.id == munId)
                                    {
                                        <option value="@mun.id">@mun.name</option>
                                    }
                                }
                            }
                            else
                            {
                                @foreach (var mun in Model)
                                {
                                    <option value="@mun.id">@mun.name</option>
                                }
                            }
                            </select>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="validperiof">Срок действия:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="validperiof" type="date" name="validityperiod" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="dateconcl">Дата заключения:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="dateconcl" type="date" name="dateconclusion" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="ibox-head">
                        <div class="ibox-title">Цены за животных</div>
                    </div>
                    @if (isAdmin)
                    {
                        <div id="localityy">

                        </div>
                    }
                    else {
                        @foreach (Locality loc in (IEnumerable<Locality>)ViewData["locs"])
                        {
                            if (loc.municipalityid == munId)
                            {
                                <div class="form-group row has-feedback">
                                    <label class="col-sm-2 col-form-label" for="@loc.id">@loc.name:</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" id="@loc.id" type="number" name="@loc.id" required>
                                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                                    </div>
                                </div>
                            } 
                        }
                    }
                    <div class="col-sm-10 ml-sm-auto">
                        <button type="submit" class="btn btn-info">Добавить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<script src="~/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script>
let port = @(((IConfiguration)ViewData["config"]).GetValue("ServerPort", "7022"))
let startVal = $('#munname').val();
$.ajax({
    url: `https://localhost:${port}/api/Locality/` + startVal,
    headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
    },
    type: "GET",
    dataType: "json",
    success: function(data) {
        let locs = $("#localityy");
        locs.empty();
        $.each(data, function(index, locality) {
            locs.append($(`<div class="form-group row has-feedback">
                            <label class="col-sm-2 col-form-label" for="${locality.id}">${locality.name}:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="${locality.id}" type="number" name="${locality.id}" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>`));
        })
    },
    error: function(result, status, err) {
        console.log("error:" + result + " status" + status + " err" + err)
    }
});
$('#munname').change(function(e) {
    let val = $(this).val();
    $.ajax({
        url: `https://localhost:${port}/api/Locality/` + val,
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        type: "GET",
        dataType: "json",
        success: function(data) {
            let locs = $("#localityy");
            locs.empty();
            $.each(data, function(index, locality) {
                locs.append($(`<div class="form-group row has-feedback">
                            <label class="col-sm-2 col-form-label" for="${locality.id}">${locality.name}:</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="${locality.id}" type="number" name="${locality.id}" required>
                                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            </div>
                        </div>`));
            })
        },
        error: function(result, status, err) {
            console.log("error:" + result + " status" + status + " err" + err)
        }
    });
});
</script>