@using Domain;
@model IEnumerable<Locality>;

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Изменить акт отлова</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="/act/">Контракты</a>
            </li>
            <li>
                Изменить акт отлова
            </li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Изменить акт отлова</div>
            </div>
            <div class="ibox-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="localityy">Населенный пункт:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="localityy" name="locality" required>
                                @foreach(var loc in Model)
                                {
                                    if(loc.id == ((ActCapture)ViewData["act"]).localityid)
                                    {
                                        <option selected value="@loc.id">@loc.name</option>
                                    }
                                    else
                                    {
                                        <option value="@loc.id">@loc.name</option>
                                    }
                                }                                
                            </select>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="datecapt">Дата отлова:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="datecapt" type="date" name="datecapture" value="@(((ActCapture)ViewData["act"]).datecapture.ToString("yyyy-MM-dd"))" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>
                    <input type="hidden" name="_method" value="PUT">
                    <div class="col-sm-10 ml-sm-auto">
                        <button class="btn btn-info" type="submit">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>