@using Domain;
@model IEnumerable<Contract>
@{
    var claims = Context.Request.HttpContext.User.Claims;
    var isAdmin = bool.Parse(Context.Request.HttpContext.User.FindFirst("IsAdmin").Value);
}

<style>
    .labeled {
        border-width: 0px;
    }

        .labeled:hover {
            border: 1px solid gray;
        }

    .no-border, no-border:hover {
        border-style: none;
        padding: 0px;
    }
</style>

<div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-heading">
                <h1 class="page-title">Контракты</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">Контракты</li>
                </ol>
            </div>
    <hr>

    <div onclick="openSearches()"><span class="search-icon" style="margin: 0px 15px;"><i class="ti-search"></i></span><i class="fa fa-angle-left arrow"></i></div>
    <div id="searches" style="display: none;">
        <form class="navbar-search" method="get" style="margin-bottom: 10px; margin-top: 10px;">
            <div class="rel" style="display:flex; align-items:center;width:350px">
                <span class="search-icon" style="margin: 0px 15px;"><i class="ti-search"></i></span>
                <input value="@ViewData["search"]" name="search" class="form-control" placeholder="Название муниципалитета">
            </div>
        </form>

        <form class="navbar-search" method="get" style="margin-bottom: 10px;">
            <div class="rel" style="display:flex; align-items:center;width:350px">
                <span class="search-icon" style="margin: 0px 15px;"><i class="ti-search"></i></span>
                <input value="@ViewData["search1"]" name="search1" class="form-control" placeholder="Номер контракта">
            </div>
        </form>

        <form class="navbar-search" method="get" style="margin-bottom: 10px;">
            <div class="rel" style="display:flex; align-items:center;width:350px">
                <span class="search-icon" style="margin: 0px 15px;"><i class="ti-search"></i></span>
                <input value="@ViewData["search2"]" name="search2" class="form-control" placeholder="dd.MM.yyyy">
            </div>
        </form>

        <form class="navbar-search" method="get" style="margin-bottom: 10px;">
            <div class="rel" style="display:flex; align-items:center;width:350px">
                <span class="search-icon" style="margin: 0px 15px;"><i class="ti-search"></i></span>
                <input value="@ViewData["search3"]" name="search3" class="form-control" placeholder="dd.MM.yyyy">
            </div>
        </form>
    </div>
    <hr>
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-body">
                        <div id="example-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row"><div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="example-table_length">
                                   </div></div></div><div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered table-hover dataTable" id="example-table" cellspacing="0" width="100%" role="grid" aria-describedby="example-table_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">
                                        Муниципалитет
                                            <a asp-action="Index" asp-route-sort="@ViewData["NameSort"]"><img src="/img/sorted.png" alt="Сортировка" width="20"></a>
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">
                                            Номер
                                            <a asp-action="Index" asp-route-sort="@ViewData["NumberSort"]"><img src="/img/sorted.png" alt="Сортировка" width="20"></a>
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">
                                            Дата заключения
                                            <a asp-action="Index" asp-route-sort="@ViewData["DateSort"]"><img src="/img/sorted.png" alt="Сортировка" width="20"></a>
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">
                                            Дата действия
                                            <a asp-action="Index" asp-route-sort="@ViewData["DescSort"]"><img src="/img/sorted.png" alt="Сортировка" width="20"></a>
                                        </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">
                                        Действия
                                        </th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach(var con in Model)
                            {
                                <tr role="row" class="odd">
                                    <td>@con.Municipality.name</td>
                                    <td>@con.id</td>
                                    <td>@con.dateconclusion.ToString("D")</td>
                                    <td>@con.validityperiod.ToString("D")</td>
                                    <td><a href="/act/view/@con.id">Просмотр <i class="fa fa-eye font-14"></i></a></td>
                                </tr>
                            }
                            </tbody>
                        </table>
                            @if (((PageViewModel)ViewData["pageView"]).HasPreviousPage)
                            {
                                <a asp-action="Index" asp-route-page="@(((PageViewModel)ViewData["pageView"]).PageNumber - 1)" class="btn btn-outline-dark no-border">
                                    <button class="btn btn-default labeled">
                                        <span class="btn-label"><i class="fa fa-backward"></i></span>
                                    </button>
                                </a>
                            }
                            @if (((PageViewModel)ViewData["pageView"]).HasNextPage)
                            {
                                <a asp-action="Index" asp-route-page="@(((PageViewModel)ViewData["pageView"]).PageNumber + 1)" class="btn btn-outline-dark no-border">
                                    <button class="btn btn-default labeled right">
                                        <span class="btn-label"><i class="fa fa-forward"></i></span>
                                    </button>
                                </a>
                            }
                    </div>
                    </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
            <script>
                function openSearches() {
                    var blocks = document.getElementById("searches");

                    if (blocks.style.display !== "none") {
                        blocks.style.display = "none";
                    }
                    else {
                        blocks.style.display = "block";
                    }
                };
            </script>

