@using Domain;
@model IEnumerable<ActCapture>
@using System.Security.Claims
@{
    var claims = Context.Request.HttpContext.User.Claims;
    var munId = int.Parse(claims.Where(c => c.Type == ClaimTypes.StateOrProvince).First().Value);
    var locId = int.Parse(claims.Where(c => c.Type == ClaimTypes.Locality).First().Value);
    var isAdmin = bool.Parse(Context.Request.HttpContext.User.FindFirst("IsAdmin").Value);
    var role = claims.Where(c => c.Type == ClaimTypes.Role).First().Value.ToString();
}
@{
    SortState sortState = SortState.NameAsc;
    string sort = Context.Request.QueryString.HasValue ? Context.Request.Query["sort"].ToString() : "";
    if (sort == "DateAsc")
        sortState = SortState.DateAsc;
    else if (sort == "DateDesc")
        sortState = SortState.DateDesc;
}

<style>
    .labeled {
        border-width: 0px;
    }

        .labeled:hover {
            border: 1px solid gray;
        }

    .no-border, no-border:hover {
        border-style: none;
        padding: 0px;
    }
</style>

<div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-heading">
                <h1 class="page-title">Акты отлова</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/act/">Контракты</a>
                    </li>
                    <li>
                        Акты отлова
                    </li>
                </ol>
            </div>
    <hr>
    <form class="navbar-search" method="get">
        <div class="rel" style="display:flex;width:500px">
            <label for="namelocsearch" style="margin: auto 0;margin-left: 15px;width:270px;">Поиск по дате отлова</label>
            <span class="search-icon" style="margin: auto 15px;"><i class="ti-search"></i></span>
            <input id="namelocsearch" value="@ViewData["search"]" name="search" class="form-control" placeholder="dd.MM.yyyy">
        </div>
    </form>
    <hr>
            <div class="page-content fade-in-up">
                <div class="ibox">
                    <div class="ibox-head">
                <div class="ibox-title">@ViewData["localityname"]</div>
                    </div>
                    <div class="ibox-body">
                        <div id="example-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                            <div class="row"><div class="col-sm-12"><table class="table table-striped table-bordered table-hover dataTable" id="example-table" cellspacing="0" width="100%" role="grid" aria-describedby="example-table_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">
                                        Дата отлова
                                            <a asp-action="ViewActs" asp-route-sort="@ViewData["DateSort"]"><img src="/img/sorted.png" alt="Сортировка" width="20"></a>
                                    </th>
                                    <th class="sorting_asc" tabindex="0" aria-controls="example-table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 252.7px;">
                                        Действия
                                        </th>

                                </tr>
                            </thead>
                            <tbody>
                            @foreach(var act in Model)
                            {
                                        @if (act.localityid == locId && !isAdmin || isAdmin)
                                        {
                                            <tr role="row" class="odd">
                                                <td>@act.datecapture.ToShortDateString()</td>
                                                <td>
                                                    @if (act.localityid == locId && !isAdmin && role == "Оператор по отлову")
                                                    {

                                                        @* <a href="/act/edit/@act.id"><button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Изменить"><i class="fa fa-pencil font-14"></i></button></a> *@
                                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Удалить"><i class="fa fa-trash font-14"></i></button>
                                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Просмотр"><a href="/animal/@act.id"><i class="fa fa-eye font-14"></i></a></button>

                                                    }
                                                    else if (isAdmin)
                                                    {

                                                        @* <a href="/act/edit/@act.id"><button class="btn btn-default btn-xs m-r-5" data-toggle="tooltip" data-original-title="Изменить"><i class="fa fa-pencil font-14"></i></button></a> *@
                                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Удалить"><i class="fa fa-trash font-14"></i></button>
                                                        <button class="btn btn-default btn-xs" data-toggle="tooltip" data-original-title="Просмотр"><a href="/animal/@act.id"><i class="fa fa-eye font-14"></i></a></button>

                                                    }
                                                </td>
                                            </tr>
                                        }

                                    }
                            </tbody>
                        </table>
                            @if (((PageViewModel)ViewData["pageView"]).HasPreviousPage)
                            {
                                <a asp-action="Index" asp-route-sort="@(sortState)" asp-route-page="@(((PageViewModel)ViewData["pageView"]).PageNumber - 1)" class="btn btn-outline-dark no-border">
                                    <button class="btn btn-default labeled">
                                        <span class="btn-label"><i class="fa fa-backward"></i></span>
                                    </button>
                                </a>
                            }
                            @if (((PageViewModel)ViewData["pageView"]).HasNextPage)
                            {
                                <a asp-action="Index" asp-route-sort="@(sortState)" asp-route-page="@(((PageViewModel)ViewData["pageView"]).PageNumber + 1)" class="btn btn-outline-dark no-border">
                                    <button class="btn btn-default labeled right">
                                        <span class="btn-label"><i class="fa fa-forward"></i></span>
                                    </button>
                                </a>
                            }
                        @if (role == "Оператор по отлову" || isAdmin)
                        {
                            <a href="/act/add"><button class="btn btn-success">Добавить</button></a>
                        }
                        </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>