@using System.Collections
@using Domain
@model int; // это id муниципалитета

<div class="content-wrapper">
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Добавить пользователя</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html"><i class="la la-home font-20"></i></a>
            </li>
            <li class="breadcrumb-item">
                <a href="/user/">Список пользователей</a>
            </li>
            <li class="breadcrumb-item">
                Добавить пользователя
            </li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Новый пользователь</div>
            </div>
            @if (ViewData["err"] != null)
            {
                <div class="alert alert-danger alert-dismissable fade show">
                    <button class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <strong>Ошибка!</strong> @ViewData["err"]
                </div>
            }
            <div class="ibox-body">
                <form class="form-horizontal" method="post">
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="surname">Фамилия:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="surname" type="text" name="surname" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="name">Имя:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="name" type="text" name="name" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="patron">Отчество (при наличии):</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="patron" type="text" name="patronymic" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="telephone">Номер телефона:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="telephone" type="tel" name="telephone" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="email">E-mail:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="email" type="email" name="email" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="role">Роль:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="role" name="role" required>
                                @foreach (Role rol in (IEnumerable)ViewData["roles"])
                                {
                                    <option value="@rol.id">@rol.name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="munname">Муниципалитет:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="munname" name="municipality" required>
                            <option value="0">-</option>
                            @foreach (Municipality mun in (IEnumerable)ViewData["muns"])
                            {
                                <option value="@mun.id">@mun.name</option>
                            }
                            </select>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback" id="locality-div">
                        <label class="col-sm-2 col-form-label" for="localityy">Населенный пункт:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="localityy" name="locality" required>
                                @foreach (Locality loc in (IEnumerable)ViewData["locs"])
                            {
                                <option value="@loc.id">@loc.name</option>
                            }
                            </select>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="organization">Организация:</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="organization" name="organization" required>
                                @foreach (Organization org in (IEnumerable)ViewData["orgs"])
                            {
                                <option value="@org.id">@org.name</option>
                            }
                            </select>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="login">Логин:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="login" type="text" name="login" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group row has-feedback">
                        <label class="col-sm-2 col-form-label" for="password">Пароль:</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="password" type="text" name="password" required>
                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span class="help-block">
                                <span></span>
                            </span>
                        </div>
                    </div>

                    <div class="col-sm-10 ml-sm-auto">
                        <a href="/user/add" ><button class="btn btn-info" type="submit">Добавить</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<script src="~/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script>
let port = @(((IConfiguration)ViewData["config"]).GetValue("ServerPort", "7022"))
$('#locality-div').hide();
$('#munname').change(function(e) {
    let val = $(this).val();
    if (val != '0') {
        $('#locality-div').show();
        $.ajax({
            url: `https://localhost:${port}/api/Locality/` + val,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            dataType: "json",
            success: function(data) {
                let locs = $("#localityy");
                locs.empty();
                $.each(data, function(index, locality) {
                    locs.append($("<option />",
                        {
                            value: locality.id,
                            text: locality.name
                        }));
                })
            },
            error: function(result, status, err) {
                console.log("error:" + result + " status" + status + " err" + err)
            }
        });
    }
    else {
        $('#locality-div').hide();
    }
});
</script>